%p#notice= notice

%p
  %b Title:
  = @episode.title
%p
  %b Link url:
  = @episode.link_url
%p
  %b Description:
  = @episode.description
%p
  %b Audio url:
  = @episode.audio_url
%p
  %b Podcast:
  = @episode.podcast

= link_to 'Edit', edit_episode_path(@episode)
\|
= link_to 'Back', episodes_path
